<div id="contact" class="footer-dark" style="padding: 0px;">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col item social"><a href="https://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/" target="_blank"><i class="icon ion-social-twitter"></i></a><a href="https://www.linkedin.com/" target="_blank"><i class="icon ion-social-linkedin"></i></a></div>
            </div>
            <p class="copyright">J&J © 2019</p>
        </div>
    </footer>
</div>