<nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav" style="opacity: 1;background-color: rgba(52,58,64,0.75);">
  <div class="container">
    <%= link_to option={:controller=>"home",:action=>"index"},html_options={:class=>"navbar-brand js-scroll-trigger",:style=>"color: rgb(255,120,0);"} do %>
        <% if @profile==0 %>
          <%= $title %>
        <% elsif @profile==1 %>
          <%= $title %> - Administrador
        <% elsif @profile==2 %>
          <%= $title %> - Gerente
        <% else %>
          <%= $title %> - Asesor
        <% end %>
    <% end %>
    <% if @navlist.any? || @profile!= 0 %>
      <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(255,120,0);">
        <i class="fa fa-bars" style="color: rgba(255,255,255,0.5);"></i>
      </button>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav ml-auto text-uppercase">
        <% @navlist.each do |navitem| %>
          <li role="presentation" class="nav-item">
            <% if navitem[:href] %>
              <a href=<%= navitem[:href] %> class="nav-link active js-scroll-trigger" style="color: rgb(255,120,0);"><%= navitem[:text] %></a>
            <% else %>
              <%= link_to option={:controller=>navitem[:controller],:action=>navitem[:action]},html_options={:class=>"nav-link active js-scroll-trigger",:style=>"color: rgb(255,120,0);"} do %>
                <%= navitem[:text] %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if @profile!=0 %>
        <%= form_with(:url=>url_for(:controller=>"users", :action=>"logout"), :method=> "post") do |f| %>
          <%= f.submit "Cerrar Sesión", :class=> "btn btn-primary text-black-50 border-dark", :style=> "font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,140,50);", :role=> "button" %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>