<script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-agency/5.0.7/js/agency.min.js" integrity="sha384-J1MIQ2NADAMvxUKHRl07XoJZiEYMDWOnLPTkrRC1eZuUQmnniAYbxNEV5+k40Z4T" crossorigin="anonymous"></script>
<script>
    $(function(){
        document.body.addEventListener("ajax:success", function(event){
            [data, status, xhr] = event.detail
            if(data.success){
                activate_animation($('#form_success'));
            }else {
                if (typeof data === 'object'){
                    $.each(data, function(index, value) {
                        activate_animation($("#form_error_"+index+"_"+value[0]));
                    });
                }
            }
            if(data.url){
                window.location.href = data.url;
            }
        })
    });
    function activate_animation(element){
        var newelement = element.clone().addClass("hide-auto");
        element.replaceWith(newelement)
    }
</script>