<!DOCTYPE html>
<html>
  <head>
    <title><%= $title+" - " %><%= @title %></title>
    <%= csrf_meta_tags %><!---->

    <%= render "layouts/links" %><!---->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %><!---->
    
    <%= render "layouts/scripts_head" %><!---->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %><!---->
 
  </head>

  <body id="page-top">
    <%= render "layouts/navBar" %><!---->
    <%= yield %><!---->
    <%= render "layouts/footer" %><!---->

    <%= render "layouts/scripts_body" %><!---->
    </body>
</html>
