<% @title="Bienvenido" %><!---->
<% if @profile==0 %>
    <% @navlist=[
        {:text=>"Proyectos",:href=>"#portfolio"},
        {:text=>"Contacto",:href=>"#contact"}
    ] %><!---->
<% elsif @profile==1 %>
    <% @navlist=[
        {:text=>"Proyectos",:controller=>"proyects",:action=>"index"},
        {:text=>"usuarios",:controller=>"users",:action=>"index"}
    ] %><!---->
<% elsif @profile==2 %>
    <% @navlist=[
        {:text=>"Reportes",:controller=>"reports",:action=>"index"}
    ] %><!---->
<% elsif @profile==3 %>
    <% @navlist=[
        {:text=>"Cotizaciones",:controller=>"quotations",:action=>"index"},
        {:text=>"Citas",:controller=>"quotations",:action=>"appointments"},
        {:text=>"Proformas",:controller=>"proforms",:action=>"index"},
        {:text=>"Pagos",:controller=>"payments",:action=>"index"}
    ] %><!---->
<% end %>

<header class="masthead" style="background-image:url(<%= image_url 'backgrounds/admin-bg.jpg' %>);">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                <span id="title">Bienvenido a J&J!</span>
            </div>
            <div class="intro-heading text-uppercase">
                <span>CONTRUYENDO<br>EL FUTURO</span>
            </div>
            <div class="row">
                <%= form_with(url: {:controller => 'home', :action => 'find'}, :method=>"get", :local => true, html: {class: "col d-flex justify-content-center" }) do |f| %>
                    <%= f.select :bedrooms,
                        [
                            ["1 Cuarto", 1],
                            ["2 Cuartos", 2],
                            ["3 Cuartos", 3],
                            ["Más de 3 Cuartos", "+"]
                        ], {
                            :include_blank => "Nº Dormitorios",
                            :selected => @bedrooms
                        },
                        {
                            :id=>"findRooms",
                            :class => "d-md-flex form-control",
                            :style => "width:200px; height: calc(2.25rem + 2px);"
                        }
                    %>
                    <%= f.select :bathrooms,
                        [
                            ["1 Baño", 1],
                            ["2 Baños", 2],
                            ["3 Baños", 3],
                            ["Más de 3 Baños", "+"]
                        ], {
                            :include_blank => "Nº Baños",
                            :selected => @bathrooms
                        },
                        {
                            :id=>"findBathrooms",
                            :class => "d-md-flex form-control",
                            :style => "width:200px; height: calc(2.25rem + 2px);"
                        }
                    %>
                    <%= f.submit "BUSCAR", :id=>"findDepartments", :class=> "btn btn-primary border-dark text-uppercase js-scroll-trigger", :href=> "#portfolio", :style=>"background-color: rgb(255,120,0);border: none;font-family: Montserrat, sans-serif;margin-left:10px;font-weight:100;cursor:pointer" %>
                    <a id="findscroll" class="btn btn-primary border-dark text-uppercase js-scroll-trigger d-none" href="#portfolio" style="background-color: rgb(255,120,0);border: none;font-family: Montserrat, sans-serif;margin-left:10px;font-weight:100">BUSCAR</a>
                <% end %>
            </div>
        </div>
    </div>
</header>

<section id="portfolio" class="portfolio bg-light" style="padding: 75px 0px;">
    <div class="container">
        <% if @departments.present? %>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">DEPARTAMENTOS</h2>
                </div>
            </div>
            <div>
                <div class="row">
                    <% @departments.reverse_each do |department| %>
                        <div class="col-sm-6 col-md-4 portfolio-item">
                            <%= link_to url={:controller=>"departments",:action=>"show",:proyect_id=>department.proyect.id,:department_id=>department.id},html={:class=>"portfolio-link"} do %>
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                                </div>
                                <% if File.exists?("public/assets/img/proyects/"+department.proyect.id.to_s+"/departments/"+department.id.to_s+"/"+@images[department.id][0].to_s+".jpg") %>
                                    <img class="img-fluid" src=<%= "/assets/img/proyects/"+department.proyect.id.to_s+"/departments/"+department.id.to_s+"/"+@images[department.id][0].to_s+".jpg" %> />
                                <% else %>
                                    <img class="img-fluid" src=<%= image_url 'no_image.jpg' %> />
                                <% end %>
                            <% end %>
                            
                            <div class="portfolio-caption" style="position:relative">
                                <%= link_to url={:controller=>"quotations",:action=>"new",:proyect_id=>department.proyect.id,:department_id=>department},html={:class=>"btn btn-primary border-dark text-uppercase",:role=>"button",:style=>"border:none;position: absolute;right: 5px;top: -35px;font-size: 12px;color: rgba(0,0,0,0.5);background-color: rgb(255,200,0)"} do %>
                                    COTIZAR
                                <% end %>
                                <h4>Nº <%= department.number %></h4>
                                <h5 style="font-size: 12px; margin-bottom:0">Proyecto <%= department.proyect.name %></h5>
                                <p class="text-muted"><strong><em><%= number_with_delimiter(number_with_precision(department.area_m2, :precision => 0)) %> m² - <%= department.floor %>ºPiso</em><br /></strong></p>
                                <p class="text-muted">
                                    <% case department.category 
                                        when 1 %>Normal
                                        <% when 2 %>Estudio
                                        <% when 3 %>Loft
                                        <% when 4 %>Duplex
                                        <% when 5 %>Triplex
                                        <% when 6 %>Penthouse
                                    <% end %>                        
                                </p>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% else %>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">PROYECTOS</h2>
                </div>
            </div>
            <div class="row">
                <% @proyects.each do |proyect| %>
                    <div class="col-sm-6 col-md-4 portfolio-item">
                        <%= link_to url={:controller=>"proyects",:action=>"show",:proyect_id=>proyect},html={:class=>"portfolio-link"} do %>
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                            </div>
                            <% if File.exists?("public/assets/img/proyects/"+proyect[:id].to_s+"/coverpage.jpg") %>
                                <img src=<%= "/assets/img/proyects/"+proyect[:id].to_s+"/coverpage.jpg" %> class="img-fluid" %>
                            <% else %>
                                <img src=<%= image_url 'no_image.jpg' %> class="img-fluid" width="100%" />
                            <% end %>
                        <% end %>
                        <div class="portfolio-caption">
                            <h4><%= proyect.name %></h4>
                            <p class="text-muted"><strong>Desde S/.<%= number_with_delimiter(number_with_precision(proyect.base_price_m2*170, :precision => 2)) %></strong></p>
                            <p class="text-muted"><%= proyect.address %></p>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</section>

<script>
    $(function(){
        <% if @departments.present? %>
            $('#findscroll').click();
        <% end %>
        $("#findDepartments").on("click", function(){
            if (!$("#findRooms").val() && !$("#findBathrooms").val()){
                $('#findscroll').click();
                return false
            }
        })
        var cont=0
        $("#title").on("click", function(){
            cont++
            if(cont==3){
                window.location.href = '/login';
            }
        })
    });
</script>