<% @title="¡Espéranos!" %><!---->
<% @navlist=[
    {:text=>"Proyectos",:controller=>"home",:action=>"index"}
] %><!---->

<section id="portfolio" style="padding: 75px 0px;background-image: url(<%= image_url 'backgrounds/list-bg.jpg' %>);">
    <div class="container" style="margin-top: 90px;">
        <div class="row justify-content-center" style="margin-bottom: -15px;">
            <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: 400px;">
                <div class="row" style="margin-top:60px;">
                    <div class="col-2"><img src=<%= image_url 'wait.png' %> width="100%" /></div>
                    <div class="col align-self-center">
                        <h2 class="text-center" style="font-size: 30px;">¡NOS ESTAREMOS COMUNICANDO CON USTED EN BREVE!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>