<div class="login-dark" style="background-image: url(<%= image_url 'backgrounds/form-bg.jpg' %>);">
    <%= form_with(model: @proyect, html: {style: "background-color: rgba(255,255,255,0.9);" }) do |f| %>
        <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;color: rgb(255,120,0);"><%= form_title %><br>Proyecto</h2>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Nombre</small>
            <%= f.text_field :name, :value=>@proyect.name, :type=>"text", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
            <p id="form_error_name_presence" class="form-text text-danger text-right form-error">Nombre obligatorio</p>
            <p id="form_error_name_uniqueness" class="form-text text-danger text-right form-error">Nombre ya existe</p>
        </div>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Precio Base por m² (S/.)</small>
            <%= f.text_field :base_price_m2, :value=>number_with_precision(@proyect.base_price_m2, :precision => 2), :type=>"number", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
            <p id="form_error_base_price_m2_presence" class="form-text text-danger text-right form-error">Precio Base por m² obligatorio</p>
            <p id="form_error_base_price_m2_numericality" class="form-text text-danger text-right form-error">Precio Base por m² debe ser numérico</p>
        </div>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Dirección</small>
            <%= f.text_field :address, :value=>@proyect.address, :type=>"text", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
        </div>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Google Map Embed URL</small>
            <%= f.text_field :google_maps_embed_url, :value=>@proyect.google_maps_embed_url, :type=>"text", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
            <p id="form_error_google_maps_embed_url_start_with" class="form-text text-danger text-right form-error">Google Maps Embed URL No Válido</p>
        </div>
        <div class="form-group text-center">
            <%= f.submit form_button, :class=> "btn btn-primary", :style=> "background-color: rgb(255,120,0);font-weight: normal;" %>
        </div>
        <small id="form_success" class="form-text text-success" style="margin-top:-18px; position: absolute; opacity: 0;"><%= form_success %></small>
    <% end %>
</div>