<% @title="Editar Imagen de Portada" %><!---->
<% @navlist=[
    {:text=>"Proyectos",:controller=>"proyects",:action=>"index"},
    {:text=>"Información",:controller=>"proyects",:action=>"edit"},
    {:text=>"Portada",:controller=>"proyects",:action=>"editcoverpage"},
    {:text=>"Departamentos",:controller=>"departments",:action=>"index"}
] %><!---->

<section id="portfolio" style="padding: 75px 0px;background-image: url(<%= image_url 'backgrounds/list-bg.jpg' %>);">
    <div class="container" style="margin-top: 90px;">
        <div class="row justify-content-center" style="margin-bottom: -15px;">
            <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
                <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;color: rgb(255,120,0);">Imagen de Portada</h2>
                <div class="row">
                    <div class="col-6"> 
                        <label class="btn btn-outline-secondary" for="fileinput" style="font-family: Montserrat, sans-serif;font-weight: normal;margin: 15px;margin-right: 0;margin-left: 0; cursor:pointer;">Seleccionar Imagen...</label>
                        <label id="btn_file_upload" class="btn btn-primary disabled" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,165,85);margin: 15px;margin-right: 0;margin-left: 0;color: rgba(255,255,255,0.9); cursor:pointer;border-color:#fed136;background-color: rgb(255,120,0);">Subir</label>
                    </div>
                    <small id="form_success" class="form-text text-success" style="margin-left:15px; margin-top:55px; position: absolute; opacity: 0">Subido Exitosamente</small>
                    <small id="form_error_image_extname" class="form-text text-danger" style="margin-left:15px; margin-top:55px; position: absolute; opacity: 0">Subir imagen .jpg</small>
                    <div class="col text-left align-self-center align-middle">
                        <p class="text-right" style="color: rgb(0,0,0);margin-top: 15px;font-size: 24px;">Proyecto <%= @proyect[:name]%></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <% if File.exists?("public/assets/img/proyects/"+@proyect[:id].to_s+"/coverpage.jpg") %>
                            <img id="preview_image" src=<%= "/assets/img/proyects/"+@proyect[:id].to_s+"/coverpage.jpg" %> width="100%" />
                        <% else %>
                            <img id="preview_image" src=<%= image_url 'no_image.jpg' %> width="100%" />
                        <% end %>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= form_with(html: {class: "d-none"}) do |f| %>
        <%= f.file_field :picture, :id=>"fileinput", :accept=>".jpg", :onchange=>"readImage(this);" %>
        <div class="form-group text-center">
            <%= f.submit :form_button, :id=> "fileupload", :class=> "btn btn-primary", :style=> "background-color: #ffa555;font-weight: normal;" %>
        </div>
    <% end %>
</section>

<script>
    function readImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#preview_image').attr('src', e.target.result)
                $('#btn_file_upload').removeClass('disabled')
                $('#btn_file_upload').attr('for', 'fileupload')
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>