<% @title="Editar Información" %><!---->
<% @navlist=[
   {:text=>"Proyectos",:controller=>"proyects",:action=>"index"},
   {:text=>"Información",:controller=>"proyects",:action=>"edit"},
   {:text=>"Portada",:controller=>"proyects",:action=>"editcoverpage"},
   {:text=>"Departamentos",:controller=>"departments",:action=>"index"}
] %><!---->

<%= render "form", form_title: "Editar", form_button: "Guardar", form_success: "Cambios Guardados" %>