<% @title="Lista de Proyectos" %><!---->
<% @navlist=[
    {:text=>"Proyectos",:controller=>"proyects",:action=>"index"},
    {:text=>"usuarios",:controller=>"users",:action=>"index"}
] %><!---->

<section id="portfolio" style="padding: 75px 0px;background-image: url(<%= image_url 'backgrounds/list-bg.jpg' %>);">
    <div class="container" style="margin-top: 90px;">
        <div class="row justify-content-center" style="margin-bottom: -15px;">
            <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
                <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;color: rgb(255,120,0);">Listado de Proyectos</h2>
                <%= link_to option={:controller=>"proyects",:action=>"new"},html_options={:class=>"btn btn-primary", :style =>"font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,165,85);margin: 15px;margin-right: 0;margin-left: 0;color: rgba(255,255,255,0.9);background-color: rgb(255,120,0);" } do %>
                    Agregar Proyecto
                <% end %>
                <div
                    class="table-responsive table-striped" style="border-radius: 10px;">
                    <table class="table" style="margin:0px;">
                        <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                            <tr>
                                <th class="align-middle">Proyecto</th>
                                <th class="align-middle">Ubicación</th>
                                <th class="align-middle"><strong>Precio Base por m²</strong><br></th>
                                <th class="align-middle" style="text-align: center;"></th>
                                <th class="align-middle" style="text-align: center;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @proyects.reverse_each do |proyect| %>
                                <tr>
                                    <td class="align-middle"><%= proyect.name %></td>
                                    <td class="align-middle"><%= proyect.address %></td>
                                    <td class="align-middle">S/. <%= number_with_delimiter(number_with_precision(proyect.base_price_m2, :precision => 2)) %></td>
                                    <td class="text-center">
                                        <%= link_to option={:controller=>"proyects",:action=>"edit", :proyect_id=>proyect}, html_options={:class=>"btn btn-outline-dark"} do %>
                                            <i class="fa fa-pencil"></i>
                                        <% end %>
                                    </td>
                                    <td class="text-center">
                                        <%= link_to option={:controller=>"proyects",:action=>"destroy", :proyect_id=>proyect}, html_options={:class=>"btn btn-outline-danger", method: :delete, data: { confirm: '¿Estás Seguro?' }} do %>
                                            <i class="fa fa-remove"></i>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>