<% @title="Registrar Proyecto" %><!---->
<% @navlist=[
    {:text=>"Proyectos",:controller=>"proyects",:action=>"index"}
] %><!---->

<%= render "form", form_title: "Registrar", form_button: "Registrar", form_success: "Registro Exitoso" %>