<% @title="Proyecto Adina" %><!---->
<% if !@proyect.google_maps_embed_url.empty? %>
    <% @navlist=[
        {:text=>"Departamentos",:href=>"#departments"},
        {:text=>"Ubicación",:href=>"#location"},
        {:text=>"Contacto",:href=>"#contact"}
    ] %><!---->
<% else %>
    <% @navlist=[
        {:text=>"Departamentos",:href=>"#departments"},
        {:text=>"Contacto",:href=>"#contact"}
    ] %><!---->
<% end %>

<% if File.exists?("public/assets/img/proyects/"+@proyect[:id].to_s+"/coverpage.jpg") %>
<header class="masthead" style="background-image: url(<%= "/assets/img/proyects/"+@proyect[:id].to_s+"/coverpage.jpg" %>);">
<% else %>
<header class="masthead" style="background-image: url(<%= image_url 'no_image.jpg' %>);">
<% end %>
    <div class="container">
        <div class="intro-text">
        <div class="intro-heading text-uppercase"><span style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">PROYECTO<br><%= @proyect.name %></span></div><a class="btn btn-primary border-dark btn-xl text-uppercase js-scroll-trigger" role="button" href="#departments" style="background-color: rgb(255,120,0);border:none;">NUESTROS<br>DEPARTAMENTOS</a></div>
    </div>
</header>

<section id="departments" class="portfolio bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">DEPARTAMENTOS</h2>
            </div>
        </div>
        <div class="row">
            <% @departments.reverse_each do |department| %>
                <div class="col-sm-6 col-md-4 portfolio-item">
                    <%= link_to url={:controller=>"departments",:action=>"show",:department_id=>department.id},html={:class=>"portfolio-link"} do %>
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>
                        <% if File.exists?("public/assets/img/proyects/"+@proyect[:id].to_s+"/departments/"+department.id.to_s+"/"+@images[department.id][0].to_s+".jpg") %>
                            <img class="img-fluid" src=<%= "/assets/img/proyects/"+@proyect[:id].to_s+"/departments/"+department.id.to_s+"/"+@images[department.id][0].to_s+".jpg" %> />
                        <% else %>
                            <img class="img-fluid" src=<%= image_url 'no_image.jpg' %> />
                        <% end %>
                    <% end %>
                    <div class="portfolio-caption" style="position:relative">
                        <%= link_to url={:controller=>"quotations",:action=>"new",:department_id=>department},html={:class=>"btn btn-primary border-dark text-uppercase",:role=>"button",:style=>"border:none;position: absolute;right: 5px;top: -35px;font-size: 12px;color: rgba(0,0,0,0.5); background-color: rgb(255,200,0)"} do %>
                            COTIZAR
                        <% end %>
                        <h4>Nº <%= department.number %></h4>
                        <p class="text-muted"><strong><em><%= number_with_delimiter(number_with_precision(department.area_m2, :precision => 0)) %> m² - <%= department.floor %>ºPiso</em><br /></strong></p>
                        <p class="text-muted">
                            <% case department.category 
                                   when 1 %>Normal
                                <% when 2 %>Estudio
                                <% when 3 %>Loft
                                <% when 4 %>Duplex
                                <% when 5 %>Triplex
                                <% when 6 %>Penthouse
                            <% end %>                        
                        </p>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>

<% if !@proyect.google_maps_embed_url.empty? %>
    <div id="location" class="map-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-uppercase text-center" style="margin-bottom: 25px;">Ubicación</h2>
                <p class="text-center"><em><%= @proyect.address %></em></p>
            </div>
        </div>
        <iframe class="bg-white d-block" allowfullscreen="" frameborder="0" width="100%" height="450" src=<%= @proyect.google_maps_embed_url %> style="padding: 20px;padding-top: 0;"></iframe>
    </div>
<% end %>
