<% @title="Lista de Proformas" %><!---->
<% @navlist=[
   {:text=>"Cotizaciones",:controller=>"quotations",:action=>"index"},
   {:text=>"Citas",:controller=>"quotations",:action=>"appointments"},
   {:text=>"Proformas",:controller=>"proforms",:action=>"index"},
   {:text=>"Pagos",:controller=>"payments",:action=>"index"}
] %><!---->

<section id="portfolio" style="padding: 75px 0px;background-image: url(<%= image_url 'backgrounds/list-bg.jpg' %>);">
   <div class="container" style="margin-top: 90px;">
      <div class="row justify-content-center" style="margin-bottom: -15px;">
         <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
            <h2 class="text-center" style="color: rgb(255,120,0);font-size: 26px; margin-bottom:20px;">Listado de Proformas</h2>
            <div class="table-responsive table-striped" style="border-radius: 10px;">
               <table class="table" style="margin:0px;">
                  <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                     <tr>
                        <th class="align-middle">Nº</th>
                        <th class="align-middle"><strong>DNI</strong><br></th>
                        <th class="align-middle"><strong>Proyecto</strong><br></th>
                        <th class="align-middle"><strong>Nº Departamento</strong><br></th>
                        <th class="align-middle" style="text-align: center;"></th>
                        <th class="align-middle" style="text-align: center;"></th>
                        <th class="align-middle" style="text-align: center;"></th>
                     </tr>
                  </thead>
                  <tbody>
                     <% @proforms.reverse_each.each_with_index do |proform, index| %>
                        <tr>
                           <td class="align-middle"><%= index+1 %></td>
                           <td class="align-middle"><%= proform.dni %></td>
                           <td class="align-middle"><%= proform.proyect %></td>
                           <td class="align-middle"><%= proform.department %></td>
                           <td class="text-center">
                              <%= link_to option={:controller=>"proforms",:action=>"show",:proform_id=>proform},html_options={:class=>"btn btn-outline-dark"} do %>
                                 <i class="fa fa-file-text-o"></i>
                              <% end %>
                           </td>
                           <% if proform.payment!=nil or proform.quotation.department.state!=true %>
                              <td class="text-center">
                                 <%= link_to option={:controller=>"payments",:action=>"separate",:proform_id=>proform},html_options={:class=>"btn btn-outline-secondary disabled"} do %>
                                    <i class="fa fa-dollar"></i>
                                 <% end %>                              
                              </td>
                              <td class="text-center">
                                 <%= link_to option={:controller=>"payments",:action=>"newupdate",:proform_id=>proform},html_options={:class=>"btn btn-outline-secondary disabled"} do %>
                                    <i class="fa fa-dollar"></i>
                                 <% end %>                              
                              </td>
                           <% else %>
                              <td class="text-center">
                                 <%= link_to option={:controller=>"payments",:action=>"separate",:proform_id=>proform},html_options={:class=>"btn btn-outline-warning"} do %>
                                    <i class="fa fa-dollar"></i>
                                 <% end %>                              
                              </td>
                              <td class="text-center">
                                 <%= link_to option={:controller=>"payments",:action=>"newupdate",:proform_id=>proform},html_options={:class=>"btn btn-outline-success"} do %>
                                    <i class="fa fa-dollar"></i>
                                 <% end %>                              
                              </td>
                           <% end %>
                        </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</section>