<% @title="Proforma" %><!---->
<% @navlist=[
    {:text=>"Citas",:controller=>"quotations",:action=>"appointments"},
    {:text=>"Proformas",:controller=>"proforms",:action=>"index"}
] %><!---->

<section id="portfolio" style="padding: 75px 0px;background-image: url(<%= image_url 'backgrounds/list-bg.jpg' %>);">
   <div class="container" style="margin-top: 90px;">
      <div class="login-dark" style="background-image: none;width: 480px;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;margin: 0 auto;">
         <h2 class="text-center" style="color: rgb(255,120,0);font-size: 26px; margin-bottom:20px;">Proforma ID <%= @proform.id %></h2>
         <div class="table-responsive table-borderless" style="width:100%;">
            <table class="table">
               <thead>
                  <tr></tr>
               </thead>
               <tbody>
                  <tr>
                     <td><strong>DNI:</strong></td>
                     <td><%= @proform.dni %></td>
                  </tr>
                  <tr>
                     <td><strong>Nombres:</strong><br></td>
                     <td><%= @proform.names %></td>
                  </tr>
                  <tr>
                     <td><strong>Apellidos:</strong></td>
                     <td><%= @proform.lastnames %></td>
                  </tr>
                  <tr>
                     <td><strong>Email:</strong></td>
                     <td><%= @proform.email %></td>
                  </tr>
                  <tr>
                     <td><strong>Teléfono:</strong></td>
                     <td><%= @proform.telephone %></td>
                  </tr>
                  <tr>
                     <td><strong>Proyecto:</strong></td>
                     <td><%= @proform.proyect %></td>
                  </tr>
                  <tr>
                     <td><strong>Departamento:</strong></td>
                     <td><%= @proform.department %></td>
                  </tr>
                  <tr>
                     <td><strong>Piso:</strong></td>
                     <td><%= @proform.floor %></td>
                  </tr>
                  <tr>
                     <td><strong>Costo:</strong></td>
                     <td>S/. <%= number_with_precision(@proform.cost, :precision => 2) %></td>
                  </tr>
                  <tr>
                     <td><strong>Descuento:</strong></td>
                     <td>S/. <%= number_with_precision(@proform.discount, :precision => 2) %></td>
                  </tr>
                  <tr>
                     <td><strong>TOTAL:</strong></td>
                     <td><strong>S/. <%= number_with_precision(@proform.total, :precision => 2) %></strong></td>
                  </tr>
               </tbody>
            </table>
         </div>
         <!--
         <div class="row justify-content-center" style="margin-bottom: -15px;">
            <div class="col text-center"><button class="btn btn-primary" type="submit" style="background-color: #ffa555;font-weight: normal;">Enviar</button></div>
         </div>
         -->
      </div>
   </div>
</section>