<div class="login-dark" style="background-image: url(<%= image_url 'backgrounds/form-bg.jpg' %>);">
    <%= form_with(model: @quotation, html: {style: "background-color: rgba(255,255,255,0.9); max-width:400px; margin-top: 50px;" }) do |f| %>
        <h2 class="text-center" style="color: rgb(255,120,0);font-size: 26px; margin-bottom:20px;">Cotizar</h2>
        <p class="text-center form-control" style="color: rgb(0,0,0); border-bottom: none; margin-top:-15px; font-size:20px;">Proyecto <%= @department.proyect.name %></p>
        <p class="text-center form-control" style="color: rgb(0,0,0); border-bottom: none; margin-top:-15px;font-size:15px;">Departamento <%= @department.number %></p>
        <img src=<%= image_url 'quote.jpg' %> class="img-fluid" style="margin-bottom:20px;" />
        <div class="form-group">
            <%= f.text_field :dni,  :type=>"text", :placeholder=>"DNI", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
        </div>
        <small id="form_error_dni_presence" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0">DNI obligatorio</small>
        <small id="form_error_dni_uniqueness" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0">DNI ya existe</small>
        <small id="form_error_dni_length" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0">DNI de entre 8 y 12 caracteres</small>
        <div class="form-group">
            <%= f.text_field :names, :type=>"text", :placeholder=>"Nombres", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
        </div>
        <small id="form_error_names_presence" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0">Nombres obligatorios</small>
        <div class="form-group">
            <%= f.text_field :lastnames, :type=>"text", :placeholder=>"Apellidos", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
            <small class="form-text text-danger d-none">Please enter a correct email address.</small>
        </div>
        <small id="form_error_lastnames_presence" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0">Apellidos obligatorios</small>
        <div class="form-group">
            <%= f.text_field :email, :type=>"email", :placeholder=>"Email", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
        </div>
        <small id="form_error_email_presence" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0">Email obligatorio</small>
        <div class="form-group">
            <%= f.text_field :telephone, :type=>"number", :placeholder=>"Teléfono", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
        </div>
        <small id="form_error_telephone_presence" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0">Teléfono obligatorio</small>
        <small id="form_error_telephone_length" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0">Teléfono de entre 7 y 12 caracteres</small>
        <div class="form-group d-none">
            <%= f.text_field :department_id, :value=> @department.id, :type=>"number", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
        </div>
        <div class="form-group text-center">
            <%= f.submit :Enviar, :class => "btn btn-primary",:style=>"background-color: rgb(255,120,0);font-weight: normal;" %>
        </div>
        <small id="form_success" class="form-text text-success" style="margin-top:-18px; position: absolute; opacity: 0;"><%= form_success %></small>
        <small id="form_error_advisers_presence" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0;">No Hay Asesores, intente luego</small>
    <% end %>
</div>