<% @title="Citas" %><!---->
<% @navlist=[
    {:text=>"Cotizaciones",:controller=>"quotations",:action=>"index"},
    {:text=>"Citas",:controller=>"quotations",:action=>"appointments"},
    {:text=>"Proformas",:controller=>"proforms",:action=>"index"},
    {:text=>"Pagos",:controller=>"payments",:action=>"index"}
] %><!---->

<section id="portfolio" style="padding: 75px 0px;background-image: url(<%= image_url 'backgrounds/list-bg.jpg' %>);">
    <div class="container" style="margin-top: 90px;">
        <div class="row justify-content-center" style="margin-bottom: -15px;">
            <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
                <h2 class="text-center" style="color: rgb(255,120,0);font-size: 26px; margin-bottom:20px;">Citas</h2>
                <div class="table-responsive table-striped" style="border-radius: 10px;">
                    <table class="table" style="margin:0px;">
                        <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                            <tr>
                                <th class="align-middle">Nº</th>
                                <th class="align-middle">DNI</th>
                                <th class="align-middle">Nombres</th>
                                <th class="align-middle">Proyecto</th>
                                <th class="align-middle">Departamento</th>
                                <th class="align-middle">Fecha y Hora</th>
                                <th class="align-middle" style="text-align: center;"></th>
                                <th class="align-middle" style="text-align: center;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @quotations.reverse_each.each_with_index do |quotation, index| %>
                                <tr>
                                    <td class="align-middle"><%= index+1 %></td>
                                    <td class="align-middle"><%= quotation.dni %><br /></td>
                                    <td class="align-middle"><%= quotation.names %><br /></td>
                                    <td class="align-middle"><%= quotation.department.proyect.name %></td>
                                    <td class="align-middle"><%= quotation.department.number %></td>
                                    <td class="align-middle"><%= quotation.appointment.to_s.gsub(' UTC','') %></td>
                                    <td class="text-center align-middle">
                                        <% if quotation.proform %>
                                            <%= link_to option={:controller=>"quotations",:action=>"editappointment",:quotation_id=>quotation},html_options={:class=>"btn btn-outline-dark disabled"} do %>
                                                <i class="fa fa-pencil"></i>
                                            <% end %>
                                        <% else %>
                                            <%= link_to option={:controller=>"quotations",:action=>"editappointment",:quotation_id=>quotation},html_options={:class=>"btn btn-outline-dark"} do %>
                                                <i class="fa fa-pencil"></i>
                                            <% end %>
                                        <% end %>                                  
                                    </td>
                                    <td class="text-center align-middle">
                                        <% if quotation.proform %>
                                            <%= link_to option={:controller=>"proforms",:action=>"show",:proform_id=>quotation.proform.id}, html_options={:class=>"btn btn-outline-dark"} do %>
                                                <i class="fa fa-file-text-o"></i>
                                            <% end %>
                                        <% else %>
                                            <%= link_to option={:controller=>"proforms",:action=>"create",:quotation_id=>quotation}, html_options={:class=>"btn btn-outline-dark", :method=>"post", :remote=>true} do %>
                                                <i class="fa fa-file-o"></i>
                                            <% end %>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>