<% @title="Cotizar" %><!---->
<% @navlist=[
    {:text=>"Proyecto",:controller=>"proyects",:action=>"show"},
    {:text=>"Departamento",:controller=>"departments",:action=>"show"}
] %><!---->

<%= render "form", form_title: "Editar Cotización", form_button: "Guardar", form_success: "Cambios Guardados" %>