<% @title="Citar" %><!---->
<% @navlist=[
    {:text=>"Cotizaciones",:controller=>"quotations",:action=>"index"},
    {:text=>"Citas",:controller=>"quotations",:action=>"appointments"}
] %><!---->

<div class="login-dark" style="background-image: url(<%= image_url 'backgrounds/form-bg.jpg' %>);height: 850px;">
    <%= form_with(model: @quotation, html: { style: "background-color: rgba(255,255,255,0.9);" }) do |f| %>
        <h2 class="text-center" style="color: rgb(255,120,0);font-size: 24px;margin-bottom: 20px;">Citar</h2>
        <p class="text-center form-control" style="color: rgb(0,0,0); border-bottom: none; margin-top:-15px; font-size:20px;">Proyecto <%= @quotation.department.proyect.name %></p>
        <p class="text-center form-control" style="color: rgb(0,0,0); border-bottom: none; margin-top:-15px;font-size:15px;">Departamento <%= @quotation.department.number %></p>
        <div class="form-group">
            <% if @quotation.appointment %>
                <%= f.text_field :date, :value=>@quotation.appointment.to_formatted_s(:iso8601).gsub('Z',''), :type=>"datetime-local", :class => "form-control", :style => "color: rgb(0,0,0);"  %>
            <% else %>
                <%= f.text_field :date, :type=>"datetime-local", :class => "form-control", :style => "color: rgb(0,0,0);"  %>
            <% end %>
            <p id="form_error_date_presence" class="form-text text-danger text-right form-error">Fecha Requerida</p>
        </div>
        <div class="form-group d-flex justify-content-lg-center text-center">
            <% if !@quotation.appointment %>
                <%= f.submit "No Interesado", name: 'notinterested', :class=> "btn btn-primary text-dark", :style=> "font-weight: normal;background-color: #fed136;border-color: #fed136;margin-right: .40rem;" %>
            <% end %>
            <%= f.submit " Guardar ", :class=> "btn btn-primary", :style=> "background-color: rgb(255,120,0);font-weight: normal;margin-left: .40rem;" %>
        </div>
        <small id="form_success" class="form-text text-success" style="margin-top:-18px; position: absolute; opacity: 0;">Cambios Guardados</small>
    <% end %>
</div>


