<% @title="Cotizaciones" %><!---->
<% @navlist=[
    {:text=>"Cotizaciones",:controller=>"quotations",:action=>"index"},
    {:text=>"Citas",:controller=>"quotations",:action=>"appointments"},
    {:text=>"Proformas",:controller=>"proforms",:action=>"index"},
    {:text=>"Pagos",:controller=>"payments",:action=>"index"}
] %><!---->

<section id="portfolio" style="padding: 75px 0px;background-image: url(<%= image_url 'backgrounds/list-bg.jpg' %>);">
   <div class="container" style="margin-top: 90px;">
      <div class="row justify-content-center" style="margin-bottom: -15px;">
         <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
            <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;color: rgb(255,120,0);">Cotizaciones</h2>
            <div class="row">
               <div class="col-6">
                  <select id="select_proyect" class="form-control-sm" style="color: rgb(0,0,0);margin-bottom:5px;">
                     <option value="">Seleccionar Proyecto</option>
                     <% @proyects.each do |proyect| %>
                        <% if proyect.id==@proyect_id.to_i %>
                           <option value=<%= proyect.id %> selected><%= proyect.name %></option>
                        <% else %>
                           <option value=<%= proyect.id %>><%= proyect.name %></option>
                        <% end %>
                     <% end %>
                  </select>
                  <%= form_with(url: {:controller => 'quotations', :action => 'find'}, :method=>"get", :local => true, html: {class: "d-none"}) do |f| %>
                     <%= f.text_field :proyect_id, :type=>"text", :id => "form_proyect_id", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
                     <%= f.submit "BUSCAR", :id=>"findProyects" %>
                  <% end %>
               </div>
            </div>
            <div class="table-responsive table-striped" style="border-radius: 10px;">
               <table class="table" style="margin:0px;">
                  <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                     <tr>
                        <th class="align-middle">ID</th>
                        <th class="align-middle">DNI</th>
                        <th class="align-middle">Nombres</th>
                        <th class="align-middle">Teléfono</th>
                        <th class="align-middle">Proyecto</th>
                        <th class="align-middle">Departamento</th>
                        <th class="align-middle">Estado</th>
                        <th class="align-middle" style="text-align: center;"></th>
                     </tr>
                  </thead>
                  <tbody>
                     <% @quotations.reverse_each do |quotation| %>
                        <% if quotation.department.proyect.id==@proyect_id.to_i || @proyect_id.blank? %>
                           <tr>
                              <td class="align-middle"><%= quotation.id %></td>
                              <td class="align-middle"><%= quotation.dni %></td>
                              <td class="align-middle"><%= quotation.names %></td>
                              <td class="align-middle"><%= quotation.telephone %><br></td>
                              <td class="align-middle"><%= quotation.department.proyect.name %><br></td>
                              <td class="align-middle"><%= quotation.department.number %></td>
                              <td class="align-middle">
                                 <% case quotation.status
                                       when 0 %>
                                          <% if @quotationDepartment.include?(quotation.department_id) %>
                                             <text class="text-secondary">No disponible</text>
                                          <% else %>
                                             <text class="text-danger">Pendiente</text>
                                          <% end %>
                                    <% when 1 %><text class="text-success">Atendido</text>
                                    <% when 2 %><text class="text-secondary">No Interesado</text>
                                 <% end %>
                              </td>
                              <td class="text-center align-middle">
                                 <% if quotation.status!=0 || @quotationDepartment.include?(quotation.department_id) %>
                                    <%= link_to option={:controller=>"quotations",:action=>"editappointment",:quotation_id=>quotation},html_options={:class=>"btn btn-outline-dark disabled"} do %>
                                       <i class="fa fa-calendar"></i>
                                    <% end %>
                                 <% else %>
                                    <%= link_to option={:controller=>"quotations",:action=>"editappointment",:quotation_id=>quotation},html_options={:class=>"btn btn-outline-dark"} do %>
                                       <i class="fa fa-calendar"></i>
                                    <% end %>
                                 <% end %>
                              </td>
                           </tr>
                        <% end %>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</section>

<script>
   $(function(){
      $("#select_proyect").on("change", function(){
         $("#form_proyect_id").val($("#select_proyect").val())
         $('#findProyects').click();
      })
   });
</script>