<% @title="Cotizar" %><!---->
<% @navlist=[
    {:text=>"Proyecto",:controller=>"proyects",:action=>"show"},
    {:text=>"Departamento",:controller=>"departments",:action=>"show"}
] %><!---->

<%= render "form", form_title: "Cotización", form_button: "Registrar", form_success: "Registro Exitoso" %>