<% @title="Lista de Reportes" %><!---->
<% @navlist=[] %><!---->
<% @user=1 %><!---->

<section id="portfolio" style="padding: 75px 0px;background-image: url(<%= image_url 'backgrounds/list-bg.jpg' %>);">
   <div class="container" style="margin-top: 90px;">
      <div class="row justify-content-center" style="margin-bottom: -15px;">
         <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
            <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;">Reportes</h2>
            <div class="row">
               <div class="col-6">
                  <select id="select_proyect" class="form-control-sm" style="color: rgb(0,0,0);margin-bottom:5px;">
                     <option value="">Seleccionar Proyecto</option>
                     <% @proyects.each do |proyect| %>
                        <% if proyect.id==@proyect_id.to_i %>
                           <option value=<%= proyect.id %> selected><%= proyect.name %></option>
                        <% else %>
                           <option value=<%= proyect.id %>><%= proyect.name %></option>
                        <% end %>
                        
                     <% end %>
                  </select>
                  <%= form_with(url: {:controller => 'reports', :action => 'find'}, :method=>"get", :local => true, html: {class: "d-none"}) do |f| %>
                     <%= f.text_field :proyect_id, :type=>"text", :id => "form_proyect_id", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
                     <%= f.submit "BUSCAR", :id=>"findProyects" %>
                  <% end %>
               </div>
            </div>
            <div class="table-responsive table-striped" style="border-radius: 10px;">
               <table class="table" style="margin:0px;">
                  <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                     <tr>
                        <th class="align-middle">Proyecto<br></th>
                        <th class="align-middle">Departamento<br></th>
                        <th class="align-middle">Estado<br></th>
                        <th class="align-middle">Monto Recaudado</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% @proyects.each do |proyect| %>
                        <% if proyect.id==@proyect_id.to_i || @proyect_id.blank? %>
                           <% proyect.department.each do |department| %>
                              <tr>
                                 <td class="align-middle"><%= proyect.name %></td>
                                 <td class="align-middle"><%= department.number %></td>
                                 <% if department.state %> 
                                    <td class="align-middle">Disponible</td>
                                    <td class="align-middle">S/. 00.00</td>
                                 <% else %>
                                    <% if @departmentpayment[department.id].operation %>
                                       <td class="align-middle text-success">Vendido</td>
                                       <td class="align-middle">S/. <%= number_with_precision(@departmentpayment[department.id].proform.total, :precision => 2) %></td>
                                    <% else %>
                                       <td class="align-middle text-warning">Separado</td>
                                       <td class="align-middle">S/. <%= number_with_precision(@departmentpayment[department.id].voucher_amount, :precision => 2) %></td>
                                    <% end %>
                                 <% end %>
                              </tr>
                           <% end %>
                        <% end %>                       
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</section>

<script>
   $(function(){
      $("#select_proyect").on("change", function(){
         $("#form_proyect_id").val($("#select_proyect").val())
         $('#findProyects').click();
      })
   });
</script>