<div class="login-dark" style="background-image: url(<%= image_url 'backgrounds/form-bg.jpg' %>);">
    <%= form_with(model: @departmentvideo, html: {style: "background-color: rgba(255,255,255,0.9); max-width:350px;" }) do |f| %>
        <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;color: rgb(255,120,0);">Agregar Vídeo</h2>
        <p class="form-control text-center" style="color: rgb(0,0,0); border-bottom: none; margin-top:-15px; font-size:20px;">Proyecto <%= @proyect.name %></p>
        <p class="form-control text-center" style="color: rgb(0,0,0); border-bottom: none; margin-top:-15px;font-size:15px;">Departamento <%= @department.number %></p>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Nombre</small>
            <%= f.text_field :name, :value=>@departmentvideo.name, :type=>"text", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
            <p id="form_error_name_presence" class="form-text text-danger text-right form-error">Nombre obligatorio</p>
            <p id="form_error_name_uniqueness" class="form-text text-danger text-right form-error">Nombre ya existe</p>
        </div>
        <div class="form-group">
            <small class="form-text text-secondary form-title">URL Vídeo Youtube</small>
            <%= f.text_field :youtube_url, :value=>@departmentvideo.youtube_url, :type=>"text", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
            <p id="form_error_youtube_url_start_with" class="form-text text-danger text-right form-error">URL Vídeo Youtube No Válido</p>
            <p id="form_error_youtube_url_presence" class="form-text text-danger text-right form-error">URL Vídeo Youtube obligatorio</p>
            <p id="form_error_youtube_url_uniqueness" class="form-text text-danger text-right form-error">URL Vídeo Youtube ya existe</p>
        </div>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Descripción</small>
            <%= f.text_area :description, :value=>@departmentvideo.description, :rows=>3, :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
        </div>
        <div class="form-group">
            <%= f.text_field :department_id, :value=>@department.id, :type=>"number", :class => "form-control d-none", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
        </div>
        <div class="form-group text-center">
            <%= f.submit form_button, :class=> "btn btn-primary", :style=> "background-color: #ffa555;font-weight: normal;background-color: rgb(255,120,0);" %>
            <small id="form_success" class="form-text text-success" style="margin-top:0px; position: absolute; opacity: 0;"><%= form_success %></small>
        </div>
    <% end %>
</div>