<div class="login-dark" style="background-image: url(<%= image_url 'backgrounds/form-bg.jpg' %>);">
    <%= form_with(model: @departmentimage, url: form_url, html: {style: "background-color: rgba(255,255,255,0.9); max-width:400px;" }) do |f| %>
        <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;color: rgb(255,120,0);"><%= form_title%> Imagen</h2>
        <p class="form-control text-center" style="color: rgb(0,0,0); border-bottom: none; margin-top:-15px; font-size:20px;">Proyecto <%= @proyect.name %></p>
        <p class="form-control text-center" style="color: rgb(0,0,0); border-bottom: none; margin-top:-15px;font-size:15px;">Departamento <%= @department.number %></p>
        <div class="form-group">
            <label class="btn btn-outline-secondary" for="fileinput" style="font-family: Montserrat, sans-serif;font-weight: normal;margin-bottom: -10px;margin-right: 0;margin-left: 0; cursor:pointer;">Seleccionar Imagen...</label>
        </div>
        <div class="form-group">
            <% if @departmentimage.id %>
                <img id="preview_image" src=<%= "/assets/img/proyects/"+@proyect[:id].to_s+"/departments/"+@department[:id].to_s+"/"+@departmentimage[:id].to_s+".jpg" %> width="100%" />
            <% else %>
                <img id="preview_image" src=<%= image_url 'no_image.jpg' %> width="100%" />
            <% end %>
            <p id="form_error_image_extname" class="form-text text-danger text-right form-error">Subir imagen .jpg</p>
        </div>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Nombre</small>
            <%= f.text_field :name, :value=>@departmentimage.name, :type=>"text", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
            <p id="form_error_name_presence" class="form-text text-danger text-right form-error">Nombre obligatorio</p>
            <p id="form_error_name_uniqueness" class="form-text text-danger text-right form-error">Nombre ya existe</p>
        </div>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Descripción</small>
            <%= f.text_area :description, :value=>@departmentimage.description, :rows=>3, :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
        </div>
        <div class="form-group d-none">
            <%= f.file_field :file, :id=>"fileinput", :accept=>".jpg", :onchange=>"readImage(this);" %>
        </div>
        <div class="form-group">
            <%= f.text_field :department_id, :value=>@department.id, :type=>"number", :class => "form-control d-none", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
        </div>
        <div class="form-group text-center">
            <% if @departmentimage.id %>
                <label id="btn_file_upload" class="btn btn-primary" for="fileupload" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,120,0);margin: 15px;margin-right: 0;margin-left: 0;color: rgba(255,255,255,0.9); cursor:pointer;border-color:#fed136;"><%= form_button %></label>
            <% else %>
                <label id="btn_file_upload" class="btn btn-primary disabled" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,120,0);margin: 15px;margin-right: 0;margin-left: 0;margin-bottom: 0;color: rgba(255,255,255,0.9); cursor:pointer;border-color:#fed136;"><%= form_button %></label>
            <% end %>
            <%= f.submit form_button, :id=>"fileupload", :class=> "btn btn-primary d-none", :style=> "background-color: #ffa555;font-weight: normal;" %>
            <small id="form_success" class="form-text text-success" style="margin-top:0px; position: absolute; opacity: 0;"><%= form_success %></small>
        </div>
    <% end %>
</div>

<script>
    function readImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#preview_image').attr('src', e.target.result)
                $('#btn_file_upload').removeClass('disabled')
                $('#btn_file_upload').attr('for', 'fileupload')
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
