<div class="login-dark" style="background-image: url(<%= image_url 'backgrounds/form-bg.jpg' %>);">
    <%= form_with(model: @department, html: {style: "background-color: rgba(255,255,255,0.9);" }) do |f| %>
        <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;color: rgb(255,120,0);"><%= form_title %><br>Departamento</h2>
        <p class="text-center" style="color: rgb(0,0,0);margin-top: -10px;font-size: 18px;">Proyecto <%= @proyect.name %></p>
        <div class="form-group">
            <%= f.select :category,
                [
                    ["Normal", 1],
                    ["Estudio", 2],
                    ["Loft", 3],
                    ["Duplex", 4],
                    ["Triplex", 5],
                    ["Penthouse", 6]
                ], {
                    :include_blank => "Tipo de Departamento",
                    :selected => @department.category
                },
                { :class => "form-control form-control-sm", :style=>"color: rgb(0,0,0);" }
            %>
            <p id="form_error_category_presence" class="form-text text-danger text-right form-error">Tipo de Departamento obligatorio</p>
        </div>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Número de Habitación</small>
            <%= f.text_field :number, :value=>@department.number, :type=>"text", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
            <p id="form_error_number_presence" class="form-text text-danger text-right form-error">Número de Habitación obligatorio</p>
            <p id="form_error_number_uniqueness" class="form-text text-danger text-right form-error">Número de Habitación ya existe</p>
        </div>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Piso</small>
            <%= f.text_field :floor, :value=>@department.floor, :type=>"number", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
            <p id="form_error_floor_presence" class="form-text text-danger text-right form-error">Piso obligatorio</p>
        </div>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Área en m²</small>
            <%= f.text_field :area_m2, :value=>number_with_precision(@department.area_m2, :precision => 2), :type=>"number", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
            <p id="form_error_area_m2_presence" class="form-text text-danger text-right form-error">Área en m² obligatorio</p>
        </div>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Cantidad de Baños</small>
            <%= f.text_field :bathrooms, :value=>@department.bathrooms, :type=>"number", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
            <p id="form_error_bathrooms_presence" class="form-text text-danger text-right form-error">Cantidad de baños obligatoria</p>
        </div>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Cantidad de Cuartos</small>
            <%= f.text_field :bedrooms, :value=>@department.bedrooms, :type=>"number", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
            <p id="form_error_bedrooms_presence" class="form-text text-danger text-right form-error">Cantidad de Cuartos obligatoria</p>
        </div>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Descripción</small>
            <%= f.text_area :description, :value=>@department.description, :rows=>3, :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
        </div>
        <div class="form-group">
            <%= f.text_field :proyect_id, :value=>@proyect.id, :type=>"number", :class => "form-control d-none", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
        </div>
        <div class="form-group text-center">
            <%= f.submit form_button, :class=> "btn btn-primary", :style=> "background-color: #ffa555;font-weight: normal;background-color: rgb(255,120,0);" %>
        </div>
        <small id="form_success" class="form-text text-success" style="margin-top:-18px; position: absolute; opacity: 0;"><%= form_success %></small>
    <% end %>
</div>