<% @title="Editar Imagen del Departamento" %><!---->
<% @navlist=[
    {:text=>"Imágenes",:controller=>"departments",:action=>"images"}
] %><!---->

<%= render "formimage", form_title: "Editar", form_button: "Guardar", form_success: "Cambios Guardados", form_url: departmentimage_path %>