<% @title="Editar Vídeo" %><!---->
<% @navlist=[
    {:text=>"Vídeos",:controller=>"departments",:action=>"videos"}
] %><!---->

<%= render "formvideo", form_title: "Subir", form_button: "Subir", form_success: "Subida Exitosa", form_url: nil %>