<% @title="Información del Departamento" %><!---->
<% @navlist=[
    {:text=>"Departamentos",:controller=>"departments",:action=>"index"},
    {:text=>"Información",:controller=>"departments",:action=>"edit"},
    {:text=>"Imágenes",:controller=>"departments",:action=>"images"},
    {:text=>"Vídeos",:controller=>"departments",:action=>"videos"}
] %><!---->

<%= render "form", form_title: "Editar", form_button: "Guardar", form_success: "Cambios Guardados" %>