<% @title="Lista de Departamentos" %><!---->
<% @navlist=[
   {:text=>"Proyectos",:controller=>"proyects",:action=>"index"},
   {:text=>"Información",:controller=>"proyects",:action=>"edit"},
   {:text=>"Portada",:controller=>"proyects",:action=>"editcoverpage"},
   {:text=>"Departamentos",:controller=>"departments",:action=>"index"}
] %><!---->

<section id="portfolio" style="padding: 75px 0px;background-image: url(<%= image_url 'backgrounds/list-bg.jpg' %>);">
   <div class="container" style="margin-top: 90px;">
      <div class="row justify-content-center" style="margin-bottom: -15px;">
         <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
            <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;color: rgb(255,120,0);">Listado de Departamentos</h2>
            <div class="row">
               <div class="col-6">
                  <%= link_to option={:controller=>"departments",:action=>"new"},html_options={:class=>"btn btn-primary",:role=>"button",:style=>"font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,165,85);margin: 15px;margin-right: 0;margin-left: 0;color: rgba(255,255,255,0.9);background-color: rgb(255,120,0);"} do %>
                     Agregar Departamento
                  <% end %>
               </div>
               <div class="col text-left align-self-center align-middle">
                  <p class="text-right" style="color: rgb(0,0,0);border-bottom: none;margin-top: 15px;font-size: 24px;">Proyecto <%= @proyect.name %></p>
               </div>
            </div>
            <div class="table-responsive table-striped" style="border-radius: 10px;">
               <table class="table" style="margin:0px;">
                  <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                     <tr>
                        <th class="align-middle">Número</th>
                        <th class="align-middle"><strong>Piso</strong><br></th>
                        <th class="align-middle"><strong>Área en m²</strong><br></th>
                        <th class="align-middle" style="text-align: center;"></th>
                        <th class="align-middle" style="text-align: center;"></th>
                     </tr>
                  </thead>
                  <tbody>
                     <% @departments.reverse_each do |department| %>
                        <tr>
                           <td class="align-middle"><%= department.number %></td>
                           <td class="align-middle"><%= department.floor %>º Piso</td>
                           <td class="align-middle"><%= number_with_delimiter(number_with_precision(department.area_m2, :precision => 2)) %> m²</td>
                           <td class="text-center">
                              <%= link_to option={:controller=>"departments",:action=>"edit", :department_id=>department}, html_options={:class=>"btn btn-outline-dark"} do %>
                                    <i class="fa fa-pencil"></i>
                              <% end %>
                           </td>
                           <td class="text-center">
                              <%= link_to option={:controller=>"departments",:action=>"destroy", :department_id=>department}, html_options={:class=>"btn btn-outline-danger", method: :delete, data: { confirm: '¿Estás Seguro?' }} do %>
                                    <i class="fa fa-remove"></i>
                              <% end %>
                           </td>
                        </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</section>