<% @title="Registrar Departamento" %><!---->
<% @navlist=[
   {:text=>"Departamentos",:controller=>"departments",:action=>"index"}
] %><!---->

<%= render "form", form_title: "Registrar", form_button: "Registrar", form_success: "Registro Exitoso" %>