<% @title="Subir Imagen" %><!---->
<% @navlist=[
    {:text=>"Imágenes",:controller=>"departments",:action=>"images"}
] %><!---->

<%= render "formimage", form_title: "Subir", form_button: "Subir", form_success: "Subida Exitosa", form_url: nil %>