<% @title="Subir Vídeo" %><!---->
<% @navlist=[
    {:text=>"Vídeos",:controller=>"departments",:action=>"videos"}
] %><!---->
<% @user=2 %><!---->

<%= render "formvideo", form_title: "Subir", form_button: "Subir", form_success: "Subida Exitosa", form_url: nil %>