<% @title=@department.proyect.name+" - Departamento "+@department.number %><!---->
<% @navlist=[
    {:text=>"Proyecto",:controller=>"proyects",:action=>"show"},
    {:text=>"Imágenes",:href=>"#images"},
    {:text=>"Vídeos",:href=>"#videos"},
    {:text=>"Contacto",:href=>"#contact"}
] %><!---->

<% if File.exists?("public/assets/img/proyects/"+@department.proyect.id.to_s+"/coverpage.jpg") %>
<header class="masthead" style="background-image: url(<%= "/assets/img/proyects/"+@department.proyect.id.to_s+"/coverpage.jpg" %>);">
<% else %>
<header class="masthead" style="background-image: url(<%= image_url 'no_image.jpg' %>);">
<% end %>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">Proyecto <%= @department.proyect.name %></span></div>
            <div class="intro-heading text-uppercase"><span style="-webkit-text-stroke: 1px rgba(120,120,120,0.50);">DEPARTAMENTO<br /><%= @department.number %><br /></span></div>
            <div class="row">
                <div class="col-12"><a class="btn btn-primary border-dark btn-xl text-uppercase js-scroll-trigger" role="button" href="#images" style="background-color: rgb(255,120,0);border:none;">MIRA MÁS<br /></a></div>
                <div class="col-12" style="margin-top: 50px;">
                    <%= link_to url={:controller=>"quotations",:action=>"new"},html={:class=>"btn btn-primary border-dark btn-xl text-uppercase",:style=>"border:none; background-color: rgb(255,200,0)"} do %>
                        COTIZAR
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</header>
    
<section id="images" class="bg-light" style="padding: 75px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Imágenes</h2>
            </div>
        </div>
        <div class="row">
            <% @departmentimages.each do |image| %>
                <div class="col-sm-6 col-md-6 portfolio-item">
                    <% if File.exists?("public/assets/img/proyects/"+@department.proyect.id.to_s+"/departments/"+@department.id.to_s+"/"+image.id.to_s+".jpg") %>
                        <img class="img-fluid" src=<%= "/assets/img/proyects/"+@department.proyect.id.to_s+"/departments/"+@department.id.to_s+"/"+image.id.to_s+".jpg" %> />
                    <% else %>
                        <img class="img-fluid" src=<%= image_url 'no_image.jpg' %> />
                    <% end %>
                    <div class="portfolio-caption" style="margin-top:25px;">
                        <h4><%= image.name %></h4>
                        <p class="text-justify text-muted"><%= image.description %></p>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>

<section id="videos" class="bg-light" style="padding: 75px 0px;background-color: rgb(255,255,255)!important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Vídeos</h2>
            </div>
        </div>
        <div class="row">
            <% @departmentvideos.each do |video| %>
                <div class="col-sm-6 col-md-6 portfolio-item">
                    <div style="width: 100%;padding-top: 56.25%;position:relative;"><iframe width="560" height="315" allowfullscreen frameborder="0" src=<%= video.youtube_url.gsub!('https://www.youtube.com/watch?v=', 'https://www.youtube.com/embed/') %> class="d-block" style="width:100%;height:100%;position: absolute;top:0;"></iframe></div>
                    <div class="portfolio-caption" style="margin-top:25px;">
                        <h4><%= video.name %></h4>
                        <p class="text-justify text-muted"><%= video.description %></p>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</section>

<% if !@department.proyect.google_maps_embed_url.empty? %>
    <div id="location" class="bg-light map-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-uppercase text-center" style="margin-bottom: 25px;">Ubicación</h2>
                <p class="text-center"><em>Av. Alcazar 538 - Miraflores<br></em></p>
            </div>
        </div>
        <iframe class="bg-white d-block" allowfullscreen="" frameborder="0" width="100%" height="450" src="https://www.google.com/maps/embed/v1/place?q=Universidad%20Peruana%20de%20Ciencias%20Aplicadas&amp;key=AIzaSyA-mX5Z7eJL5GKASzo5gSNavXxX748a5Y4" style="padding: 20px;padding-top: 0;background-color: #f8f9fa!important;"></iframe>
    </div>
<% end %>