<% @title="Vídeos del Departamento" %><!---->
<% @navlist=[
    {:text=>"Departamentos",:controller=>"departments",:action=>"index"},
    {:text=>"Información",:controller=>"departments",:action=>"edit"},
    {:text=>"Imágenes",:controller=>"departments",:action=>"images"},
    {:text=>"Vídeos",:controller=>"departments",:action=>"videos"},
] %><!---->

<section id="portfolio" style="padding: 75px 0px;background-image: url(<%= image_url 'backgrounds/list-bg.jpg' %>);">
    <div class="container" style="margin-top: 90px;">
        <div class="row justify-content-center" style="margin-bottom: -15px;">
            <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
                <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;color: rgb(255,120,0);">Departamento <%= @department.number %></h2>
                <div class="row">
                    <div class="col-6">
                        <%= link_to option={:controller=>"departments",:action=>"newvideo"},html_options={:class=>"btn btn-primary",:role=>"button",:style=>"font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,165,85);margin: 15px;margin-right: 0;margin-left: 0;color: rgba(255,255,255,0.9);background-color: rgb(255,120,0);"} do %>
                            Agregar Vídeo
                        <% end %>
                    </div>
                    <div class="col text-left align-self-center align-middle">
                        <p class="text-right" style="color: rgb(0,0,0);border-bottom: none;margin-top: 10px;font-size: 24px;">Proyecto <%= @department.proyect.name %></p>
                    </div>
                </div>
                <div class="table-responsive table-striped" style="border-radius: 10px;">
                    <table class="table" style="margin:0px;">
                        <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                            <tr>
                                <th class="align-middle">Nombre</th>
                                <th class="align-middle" style="width: 25%;"><strong>Vídeo de Youtube</strong><br /></th>
                                <th class="align-middle"><strong>Descripción</strong><br /></th>
                                <th class="align-middle" style="text-align: center;"></th>
                                <th class="align-middle" style="text-align: center;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @departmentvideos.reverse_each do |video| %>
                                <tr>
                                    <td class="align-middle"><%= video.name %></td>
                                    <td class="align-middle">
                                        <div style="width: 100%;padding-top: 56.25%;position:relative;">
                                            <iframe class="d-block" width="560" height="315" allowfullscreen frameborder="0" src=<%= video.youtube_url.gsub!('https://www.youtube.com/watch?v=', 'https://www.youtube.com/embed/') %> style="width:100%;height:100%;position: absolute;top:0;"></iframe>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <em><%= video.description %></em>
                                    </td>
                                    <td class="text-center align-middle">
                                        <%= link_to option={:controller=>"departments",:action=>"editvideo", :video_id=>video},html_options={:class=>"btn btn-outline-dark"} do %>
                                            <i class="fa fa-pencil"></i>
                                        <% end %>
                                    </td>
                                    <td class="text-center align-middle">
                                        <%= link_to option={:controller=>"departments",:action=>"destroyvideo", :video_id=>video}, html_options={:class=>"btn btn-outline-danger", method: :delete, data: { confirm: '¿Estás Seguro?' }} do %>
                                            <i class="fa fa-remove"></i>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>