<div class="login-dark" style="background-image: url(<%= image_url 'backgrounds/form-bg.jpg' %>);">
   <%= form_with(model: @user, html: {style: "background-color: rgba(255,255,255,0.9);" }) do |f| %>
      <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;color: rgb(255,120,0)"><%= form_title %><br>Usuario</h2>
      <div class="form-group">
         <%= f.text_field :dni, :value=>@user.dni, :type=>"text", :placeholder=>"DNI", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
      </div>
      <small id="form_error_dni_presence" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0">DNI obligatorio</small>
      <small id="form_error_dni_uniqueness" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0">DNI ya existe</small>
      <small id="form_error_dni_length" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0">DNI de entre 8 y 12 caracteres</small>
      <div class="form-group">
         <%= f.text_field :names, :value=>@user.names, :type=>"text", :placeholder=>"Nombres", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
      </div>
      <small id="form_error_names_presence" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0">Nombre obligatorio</small>
      <div class="form-group">
         <%= f.text_field :lastnames, :value=>@user.lastnames, :type=>"text", :placeholder=>"Apellidos", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
      </div>
      <small id="form_error_lastnames_presence" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0">Apellido obligatorio</small>
      <div class="form-group">
         <%= f.select :profile,
            [
               ["Asesor", 3],
               ["Gerente", 2]
            ], {
               :include_blank => "Tipo de Usuario",
               :selected => @user.profile
            },
            { :class => "form-control form-control-sm", :style=>"color: rgb(0,0,0);" }
         %>
      </div>
      <small id="form_error_profile_presence" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0;">Tipo de Usuario obligatorio</small>
      <small id="form_error_profile_inclusion" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0;">Tipo de Usuario no válido</small>
      <small id="form_error_profile_numericality" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0;">Tipo de Usuario no válido</small>
      <div class="form-group">
         <%= f.text_field :password, :type=>"password", :placeholder=>"Contraseña", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
      </div>
      <small id="form_error_password_hashed_presence" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0;">Contraseña obligatoria</small>
      <small id="form_error_password_hashed_length" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0;">Contraseña con más de 4 caracteres</small>
      <div class="form-group text-center">
         <%= f.submit form_button, :class=> "btn btn-primary", :style=> "background-color: #ffa555;font-weight: normal;background-color: rgb(255,120,0)" %>
      </div>
      <small id="form_success" class="form-text text-success" style="margin-top:-18px; position: absolute; opacity: 0;"><%= form_success %></small>
   <% end %>
</div>