<% @title="Editar Información de Usuario" %><!---->
<% @navlist=[
   {:text=>"usuarios",:controller=>"users",:action=>"index"}
] %><!---->

<%= render "form", form_title: "Editar", form_button: "Guardar", form_success: "Cambios Guardados" %>