<% @title="Lista de Usuarios" %><!---->
<% @navlist=[
   {:text=>"Proyectos",:controller=>"proyects",:action=>"index"},
   {:text=>"usuarios",:controller=>"users",:action=>"index"}
] %><!---->

<section id="portfolio" style="padding: 75px 0px;background-image: url(<%= image_url 'backgrounds/list-bg.jpg' %>);">
   <div class="container" style="margin-top: 90px;">
      <div class="row justify-content-center" style="margin-bottom: -15px;">
         <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
            <h2 class="text-center" style="color: rgb(255,120,0);font-size: 26px; margin-bottom:20px;">Listado de Usuarios</h2>
            <%= link_to option={:controller=>"users",:action=>"new"},html_options={:class=>"btn btn-primary", :role => "button", :style => "font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,120,0);margin: 15px;margin-right: 0;margin-left: 0;color: rgba(255,255,255,0.9);"} do %>
               Agregar Usuario
            <% end %>
            <div class="table-responsive table-striped" style="border-radius: 10px;">
               <table class="table" style="margin:0px;">
                  <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                     <tr>
                        <th class="align-middle">DNI</th>
                        <th class="align-middle">Nombres</th>
                        <th class="align-middle">Apellidos</th>
                        <th class="align-middle"><strong>Perfil</strong></th>
                        <th class="align-middle" style="text-align: center;"></th>
                        <th class="align-middle" style="text-align: center;"></th>
                     </tr>
                  </thead>
                  <tbody>
                     <% @users.reverse_each do |user| %>
                        <tr>
                           <td class="align-middle"><%= user.dni %></td>
                           <td class="align-middle"><%= user.names %></td>
                           <td class="align-middle"><%= user.lastnames %></td>
                           <% if user.profile==1 %>
                              <td class="align-middle">Administrador</td>
                           <% elsif user.profile==2 %>
                              <td class="align-middle">Gerente</td>
                           <% elsif user.profile==3 %>
                              <td class="align-middle">Asesor</td>
                           <% end %>
                           <td class="text-center">
                              <%= link_to option={:controller=>"users",:action=>"edit", :user_id=>user}, html_options={:class=>"btn btn-outline-dark"} do %>
                                 <i class="fa fa-pencil"></i>
                              <% end %>
                           </td>
                           <td class="text-center">
                              <%= link_to option={:controller=>"users",:action=>"destroy", :user_id=>user}, html_options={:class=>"btn btn-outline-danger", method: :delete, data: { confirm: '¿Estás Seguro?' }} do %>
                                 <i class="fa fa-remove"></i>
                              <% end %>
                           </td>
                        </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</section>