<% @title="Iniciar Sesión" %><!---->
<% @navlist=[] %><!---->

<div class="login-dark" style="background-image: url(<%= image_url 'backgrounds/admin-bg.jpg' %>);height: 850px;">
    <%= form_with(method: "post", html: {id:"form_login", style: "background-color: rgba(30,40,51,0.75);" }) do |f| %>
        <div class="illustration"><i class="icon ion-ios-locked-outline" style="color: rgba(255,165,85,0.6);"></i></div>
        <div class="form-group">
            <%= f.text_field :dni, :type=>"text", :placeholder=>"DNI", :class => "form-control", :autocomplete => "off" %>
        </div>
        <div class="form-group">
            <%= f.text_field :password, :type=>"password", :placeholder=>"Password", :class => "form-control", :autocomplete => "off" %>
        </div>
        <div class="form-group">
            <%= f.submit "Ingresar", :class=> "btn btn-primary btn-block", :style=> "background-color: rgba(255,165,85,0.6);font-weight: normal;" %>
        </div>
        <small id="form_error_login_error" class="form-text text-danger" style="margin-top:-18px; position: absolute; opacity: 0">Validación Fallida</small>
        <small id="form_success" class="form-text text-success" style="margin-top:-18px; position: absolute; opacity: 0">Validación Exitosa</small>
    <% end %>
</div>