<% @title="Registrar Usuario" %><!---->
<% @navlist=[
   {:text=>"usuarios",:controller=>"users",:action=>"index"}
] %><!---->

<%= render "form", form_title: "Registrar", form_button: "Registrar", form_success: "Registro Exitoso" %>

