<% @title="Pago" %><!---->
<% @navlist=[
    {:text=>"Cotizaciones",:controller=>"quotations",:action=>"index"},
   {:text=>"Citas",:controller=>"quotations",:action=>"appointments"},
   {:text=>"Proformas",:controller=>"proforms",:action=>"index"},
   {:text=>"Pagos",:controller=>"payments",:action=>"index"}
] %><!---->

<section id="portfolio" style="padding: 75px 0px;background-image: url(<%= image_url 'backgrounds/list-bg.jpg' %>);">
    <div class="container" style="margin-top: 90px;">
        <div class="row justify-content-center" style="margin-bottom: -15px;">
            <div class="login-dark" style="background-image: none;width: 95%;background-color: rgba(255,255,255,0.9);padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
                <h2 class="text-center" style="color: rgb(255,120,0);font-size: 26px; margin-bottom:20px;">Listado de Pagos</h2>
                <div class="table-responsive table-striped" style="border-radius: 10px;">
                    <table class="table" style="margin:0px;">
                        <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                            <tr>
                                <th class="align-middle">Nº</th>
                                <th class="align-middle"><strong>DNI</strong></th>
                                <th class="align-middle"><strong>Proyecto</strong></th>
                                <th class="align-middle"><strong>Nº Departamento</strong></th>
                                <th class="align-middle"><strong>Pago</strong></th>
                                <th class="align-middle"><strong>Falta</strong></th>
                                <th class="align-middle" style="text-align: center;">Estado</th>
                                <th class="align-middle" style="text-align: center;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @payments.reverse_each.each_with_index do |payment, index| %>
                                <tr>
                                    <td class="align-middle"><%= index+1 %></td>
                                    <td class="align-middle"><%= payment.proform.dni%></td>
                                    <td class="align-middle"><%= payment.proform.proyect %></td>
                                    <td class="align-middle"><%= payment.proform.department%></td>
                                    <% if payment.operation %>
                                        <td class="align-middle">S/. <%= number_with_precision(payment.proform.total, :precision => 2) %></td>
                                        <td class="align-middle">S/. 0.00</td>
                                        <td class="align-middle text-center text-success">
                                            Cancelado
                                        </td>
                                    <% else %>
                                        <td class="align-middle">S/. <%= number_with_precision(payment.voucher_amount.to_f, :precision => 2) %></td>
                                        <td class="align-middle">S/. <%= number_with_precision(payment.proform.total - payment.voucher_amount.to_f, :precision => 2) %></td>
                                        <td class="align-middle text-center text-danger">
                                            Separado
                                        </td>
                                        <td class="align-middle text-center">
                                            <%= link_to({:controller=>"payments",:action=>"newupdate",:proform_id=>payment.proform_id}, {:class=>"btn btn-outline-success",:style=>"margin-left:5px;"}) do %>
                                                <i class="fa fa-dollar"></i>
                                            <% end %>
                                        </td>
                                    <% end %>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>