<% @title="Pagos" %><!---->
<% @navlist=[
    {:text=>"Proformas",:controller=>"proforms",:action=>"index"},
    {:text=>"Pagos",:controller=>"payments",:action=>"index"}
] %><!---->

<div class="login-dark" style="background-image: url(<%= image_url 'backgrounds/form-bg.jpg' %>);">
    <%= form_with(model: @payment, html: {style: "background-color: rgba(255,255,255,0.9);" }) do |f| %>
        <h2 class="text-center" style="color: rgb(255,120,0);font-size: 26px; margin-bottom:20px;">Pagar Departamento</h2>
        <% if @proform.payment %>
            <h3 class="text-center text-success" style="font-size: 16px; margin-bottom:15px;margin-top:-10px;">A pagar S/.<%= number_with_precision(@proform.total-@proform.payment.voucher_amount, :precision => 2) %></h2>
        <% else %>
            <h3 class="text-center text-success" style="font-size: 16px; margin-bottom:15px;margin-top:-10px;">A pagar S/.<%= number_with_precision(@proform.total, :precision => 2) %></h2>
        <% end %>
        <p class="text-center form-control" style="color: rgb(0,0,0); border-bottom: none; margin-top:-15px; font-size:20px;">Proyecto <%= @proform.quotation.department.proyect.name %></p>
        <p class="text-center form-control" style="color: rgb(0,0,0); border-bottom: none; margin-top:-15px;font-size:15px;">Departamento <%= @proform.quotation.department.number %></p>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Nº Operación</small>
            <%= f.text_field :operation, :type=>"text", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
            <p id="form_error_operation_presence" class="form-text text-danger text-right form-error">Nº Operación obligatorio</p>
            <p id="form_error_operation_uniqueness" class="form-text text-danger text-right form-error">Nº Operación ya existe</p>
        </div>
        <div class="form-group">
        <small class="form-text text-secondary form-title">Monto</small>
            <%= f.text_field :operation_amount, :type=>"number", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
            <p id="form_error_operation_amount_presence" class="form-text text-danger text-right form-error">Monto obligatorio</p>
            <% if @proform.payment %>
                <p id="form_error_operation_amount_same_than" class="form-text text-danger text-right form-error">Monto debe ser S/.<%= number_with_precision(@proform.total-@proform.payment.voucher_amount, :precision => 2) %></p>
            <% else %>
                <p id="form_error_operation_amount_same_than" class="form-text text-danger text-right form-error">Monto debe ser S/.<%= number_with_precision(@proform.total, :precision => 2) %></p>
            <% end %>
        </div>
        <div class="form-group">
            <%= f.text_field :proform_id, :value=>@proform.id, :type=>"number", :class => "form-control d-none", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
        </div>
        <div class="form-group text-center">
            <%= f.submit "Guardar", name: 'canceled', :class=> "btn btn-primary", :style=> "background-color: rgb(255,120,0);font-weight: normal;" %>
            <small id="form_success" class="form-text text-success" style="margin-top:0px; position: absolute; opacity: 0;">Cancelado Exitosamente</small>
        </div>
    <% end %>
</div>  