<% @title="Lista de Proformas" %><!---->
<% @navlist=[
    {:text=>"Proformas",:controller=>"proforms",:action=>"index"}
] %><!---->

<div class="login-dark" style="background-image: url(<%= image_url 'backgrounds/form-bg.jpg' %>);">
    <%= form_with(model: @payment, html: {style: "background-color: rgba(255,255,255,0.9);" }) do |f| %>
        <h2 class="text-center" style="color: rgb(255,120,0);font-size: 26px; margin-bottom:20px;">Separar Departamento</h2>
        <h3 class="text-center" style="color: #ffa555;font-size: 16px; margin-bottom:15px;margin-top:-10px;">A partir de S/.15000</h2>
        <p class="text-center form-control" style="color: rgb(0,0,0); border-bottom: none; margin-top:-15px; font-size:20px;">Proyecto <%= @proform.quotation.department.proyect.name %></p>
        <p class="text-center form-control" style="color: rgb(0,0,0); border-bottom: none; margin-top:-15px;font-size:15px;">Departamento <%= @proform.quotation.department.number %></p>
        <p class="text-center form-control" style="color: rgb(0,0,0); border-bottom: none; margin-top:-15px;font-size:15px;">DNI: <%= @proform.dni %></p>
        <div class="form-group">
            <label class="btn btn-outline-secondary" for="fileinput" style="font-family: Montserrat, sans-serif;font-weight: normal;margin-bottom: -10px;margin-right: 0;margin-left: 0; cursor:pointer;">Seleccionar Imagen...</label>
        </div>
        <div class="form-group">
            <img id="preview_image" src=<%= image_url 'no_image.jpg' %> width="100%" />
            <p id="form_error_image_extname" class="form-text text-danger text-right form-error">Subir imagen .jpg</p>
        </div>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Nº Voucher</small>
            <%= f.text_field :voucher, :type=>"text", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
            <p id="form_error_voucher_presence" class="form-text text-danger text-right form-error">Voucher obligatorio</p>
            <p id="form_error_voucher_uniqueness" class="form-text text-danger text-right form-error">Voucher ya existe</p>
        </div>
        <div class="form-group">
            <small class="form-text text-secondary form-title">Monto</small>
            <%= f.text_field :voucher_amount, :type=>"number", :class => "form-control", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
            <p id="form_error_voucher_amount_presence" class="form-text text-danger text-right form-error">Monto obligatorio</p>
            <p id="form_error_voucher_amount_greater_than" class="form-text text-danger text-right form-error">Monto mayor que S/.15000</p>
        </div>
        <div class="form-group d-none">
            <%= f.file_field :file, :id=>"fileinput", :accept=>".jpg", :onchange=>"readImage(this);" %>
        </div>
        <div class="form-group">
            <%= f.text_field :proform_id, :value=>@proform.id, :type=>"number", :class => "form-control d-none", :autocomplete => "off", :style => "color: rgb(0,0,0);" %>
        </div>
        <div class="form-group text-center">
            <label id="btn_file_upload" class="btn btn-primary disabled" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,120,0);margin: 15px;margin-right: 0;margin-left: 0;margin-bottom: 0;color: rgba(255,255,255,0.9); cursor:pointer;border-color:#fed136;">Guardar</label>
            <%= f.submit "Guardar", :id=>"fileupload", :class=> "btn btn-primary d-none", :style=> "background-color: #ffa555;font-weight: normal;" %>
            <small id="form_success" class="form-text text-success" style="margin-top:0px; position: absolute; opacity: 0;">Separado Exitosamente</small>
        </div>
    <% end %>
</div>

<script>
    function readImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#preview_image').attr('src', e.target.result)
                $('#btn_file_upload').removeClass('disabled')
                $('#btn_file_upload').attr('for', 'fileupload')
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
